
.product-details-section{
	display: flex;
	justify-content: center;
	margin-top: 80px;
}
.product-details-section .product-image{
	flex-basis: 50%;
	text-align: center;
}
.product-details-section .product-image  img{
	width: 100%;
}
.product-details-section .product-details{
	flex-basis: 50%;
	/*background-color: green;*/
}
.product-details-section .product-details .product-details-container{
	/*padding: 10px 50px;*/
	line-height: 40px;
	width: 80%;
	margin: 0 auto;
}
.product-details-container .product-name p{
	font-size: 25px;
}
.product-details-container .product-price p{
	font-size: 20px;
	padding: 10px 0 30px 0;
	color: #737373;
}
.cart-details .drop-down label{
	left: 20px;
	top: 20px;
}
.cart-details .drop-down select{
	border-bottom: none;
	margin: auto 0;
}
.drop-down{
	position: relative;
}
.drop-down label{
	display: block;
	position: absolute;
	top: 8px;
	font-size: 13px;
	/*left: 0;*/
	color: #737373;
}
.drop-down select{
	border-bottom: 1px solid #a6a6a6;
	background-color: transparent;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	width: 100%;
	height: 60px;
	font-size: 16px;
	outline: none;
	/*position: relative;*/
	padding-left: 70px;

}
.product-details-container .description{
	padding-top: 24px;
}
.product-details-container .description h3{
	/*font-size: 13px;*/
}
.product-details-container .description p{
	line-height: 20px;
	text-align: justify;
	/*font-size: 13px;*/
	color: #737373;
}

.product-details-container .description h3, {
	font-size: 14px;
}
.product-details-container .description p, .features p, .features ul li{
	font-size: 15px;
}
.product-details-container .features{
	line-height: 20px;
	font-size: 12px;
	color: #737373;
}
.product-details-container .features p{
	margin: 20px 0 12px 0;
}
.product-details-container .features ul{
	margin-left: 42px;
	margin-bottom: 30px; 
}
.product-details .product-details-container .drop-down select{
	padding-left:100px;
}