
.total-cart-items{
	margin: 70px 0 400px 0; 
}
.no-of-item .your-cart, .no-of-item .no-of-cart{
	text-align: center;
}
.no-of-item .no-of-cart p{
	font-size: 12px;
	color: #737373;
	margin: 10px 0;

}
.cart-details{
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
	align-items: center;
	/*background-color: red;*/
	font-size: 14px;
	grid-row-gap: 50px;
}
.cart-details .cart-item-img{
	text-align: center;
}
.cart-details .cart-item-img img{
	width: 70px;
}

.cart-details .cart-item-quantity, .cart-item-size, .cart-item-price, .cart-item-delete, .cart-item-total-price, .checkout-btn{
	justify-self: end;
	color: #737373;
}

.cart-item-size{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.cart-item-size p{
	justify-self: end;
}
.cart-item-total-price{
	display: grid;
	grid-template-columns: 1fr 1fr;
	/*justify-items: end;*/
}
.cart-details .checkout-btn{
	grid-column: 5/7;
	/*margin: 0 auto;*/
}
.cart-details .cart-item-total-price{
	grid-column: 4/5;
	color: black;
	font-size: 16px;
	
}