@import url('https://fonts.googleapis.com/css?family=Anaheim|Antic+Slab|Cinzel+Decorative|Cormorant|Cutive+Mono|Forum|Gilda+Display|Gruppo|Josefin+Slab|Julius+Sans+One|Jura|Lekton|Lusitana|Nanum+Myeongjo|Nixie+One|Saira+Extra+Condensed|Syncopate');
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Roboto', 'Noto', sans-serif;
}
header{
	/*width: 100%;*/
	/*background-color: red;*/
	padding: 20px 0 15px 0;
	position: relative;
}
header .shop-logo{
	text-align: center;
	letter-spacing: 6px;
}
header .shop-logo a{
	text-decoration: none;
	font-size: 18px;	
	/*font-family: 'Anaheim', sans-serif;*/
	color: #000000;
}
header nav{
	text-align: center;
}
header nav ul{
	display: inline-flex;
}
header nav ul li{
	list-style: none;
	margin: 40px 10px 10px 10px;
}
header nav ul li a {
	text-decoration: none;
	color: #000000;
	font-size: 15px;
	font-family: 'Lekton', sans-serif;
}
header .cart-logo{
	position: absolute;
	right: 30px;
	top: 30px;
}
header .cart-logo img{
	height: 50px;
	width: 50px;
}
header .menu-bar{
	position: absolute;
	display: none;
}
header .menu-bar input{
	display: none;
}
header .menu-bar label{
	font-size: 30px;
	border: 2px solid black;
	border-radius: 5px;
	padding: 1px;
}
.picture-galary{
	/*display: grid;*/
}
.big-picture{
	text-align: center;
}
.big-picture img{
	width: 100%;
}
.big-picture h4{
	margin: 40px 0 40px 0;
	font-size: 20px;
	font-family: 'Gruppo', cursive;
}
.big-picture h3{
	margin: 40px 0 40px 0;	
}
.
.big-picture .image-part img{
	object-fit: cover;
	height: 300px;
}
.big-picture h3 a,.cart h3 a{
	text-decoration: none;
	font-size: 14px;
	border: 2px solid black;
	padding: 15px 55px 15px 55px;
	font-family: 'Gruppo', cursive;
	color: black;
}
.big-picture .item-no p{
	margin-top: -20px; 
	color: #737373;
	font-family: 'Lekton', sans-serif;
}
.picture-divide{
	/*display: grid;
	grid-template-columns: 50% 50%;
	height: 200px;*/
	/*display: inline-flex;*/
		display: grid;
	grid-template-columns: 50% 50%

}
.column-image{
	margin: 0 auto;
}
.column-image img{

	/*overflow: none;*/
	/*height: 300px;*/
	/*display: grid;*/
	/*grid-template-columns: 40% 40%;*/
}


.bottom-section{
	display: grid;
	justify-items: center;
	grid-row-gap: 20px;
}
.bottom-section div{
	text-align: center;
}

.bottom-section .polymar-link a{
	text-decoration: none;
	color: #737373;
	font-family: 'Lekton', sans-serif;
}
.bottom-section .demo-showcase p{
	border: 2px solid black;
	width: 150px;
	padding: 10px;
	background-color: black;
	color: white;
	font-family: 'Forum', cursive;
}

.items-stock{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/*grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));*/
	justify-items: center;
	/*grid-auto-rows: 300px;*/
	grid-row-gap: 50px;
}
.items-stock .items-property img{
	width: 25vw;
}
.items-stock .items-property{
	/*background-color: red;*/
	text-align: center;
	font-family: 'Gruppo', cursive;
/*font-family: 'Saira Extra Condensed', sans-serif;*/
}
.items-stock .items-property h3{
	padding: 15px;
	font-size: 15px;
}
.items-stock .items-property p{
	color: #1a1a1a; 
	font-family: 'Nixie One', cursive;
	font-size: 14px;
}
@media only screen and (max-width: 768px){
	.items-stock{
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 40px;
	}
	.items-stock .items-property{

	}
	.items-stock .items-property img{
		width: 45vw;
	}	
}
.product-details-section{
	display: flex;
	/*align-items: center;*/
	justify-content: center;
}
.product-details-section .product-image{
	/*background-color: red;*/
	flex-basis: 60%;
}
.product-details-section .product-image  img{
	/*width: 650px;*/
	width: 85%;
}
.product-details-section .product-details{
	flex-basis: 40%;
	/*background-color: green;*/
}
.product-details-section .product-details h3{
	/*font-family: Arial;*/
	font: 22px 'Roboto', 'Noto', sans-serif;
	font-weight: normal;
	/*font-family: 'Jura', sans-serif;*/

}
.product-details-section .product-details .product-details-container{
	margin: 50px 100px 50px 0px;
}

.product-details-container{
	line-height: 50px;
}
.product-details-container .drop-down select{
	border-bottom: 1px solid #a6a6a6;
	background-color: transparent;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	width: 100%;
	height: 60px;
	font-size: 20px;
	outline: none;
	/*position: relative;*/
	padding-left: 100px;
}
.drop-down{
	position: relative;
}
.drop-down label {
	display: block;
	position: absolute;
	top: 8px;
	font-size: 16px;
	left: 0;
}
.product-details-container .description p{
	line-height: 20px;
	text-align: justify;
}
.product-details-container .features{
	line-height: 22px;
}
.product-details-container .features p{
	margin: 20px 0 20px 0;
}
.product-details-container .features ul{
	margin-left: 50px;
	margin-bottom: 30px; 
}
.checkout-logo{
	text-align: center;
	margin-top: 50px;
	line-height: 30px;
}
.checkout-product-section{
	display: flex;
	justify-content: center;
	font-size: 14px;
	/*line-height: 20px;*/
}
.checkout-product-section .accout-info{
	flex-basis: 35%;
	/*flex: 1;*/
	/*background-color: green;*/
	/*margin: 20px;*/
	padding: 50px;
	/*padding: 30px;*/
	/*line-height: 50px;*/
}
.checkout-product-section .payment-info{
	/*margin: 20px;*/
	padding: 50px;
	flex-basis:35%;
	/*flex: 1;*/
	/*background-color: red;*/
	/*padding: 30px;*/
}
/*.checkout-product-section .accout-info .selling-product-info, .payment-info .selling-product-info{
	margin: 50px;
	padding: 50px;
}*/
.selling-product-info h4{
	margin-top: 40px;
	font-size: 15px; 
}
.checkout-product-section .accout-info input[type="text"], .payment-info input[type="text"]{
	border-bottom: 1px solid #a6a6a6;
	background-color: transparent;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	width: 100%;
	height: 60px;
	font-size: 20px;
	outline: none;
	margin: 20px 0;
	
	/*line-height: 30px;*/
	/*padding-left: 100px;*/
}
/*
font-family: 'Anaheim', sans-serif;
font-family: 'Antic Slab', serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Cormorant', serif;
font-family: 'Cutive Mono', monospace;
font-family: 'Forum', cursive;
font-family: 'Gilda Display', serif;
font-family: 'Gruppo', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Jura', sans-serif;
font-family: 'Lekton', sans-serif;
font-family: 'Lusitana', serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Nixie One', cursive;
font-family: 'Saira Extra Condensed', sans-serif;
font-family: 'Syncopate', sans-serif;
