.items-stock{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/*grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));*/
	justify-items: center;
	/*grid-auto-rows: 300px;*/
	grid-row-gap: 50px;
	text-decoration: none;
}
.items-stock .items-property img{
	width: 25vw;
}
.items-stock .items-property{
	text-align: center;
	text-decoration: none;
	line-height: 20px;
}

.items-stock .items-property h3{
	font-size: 12px;
}
.items-stock .items-property p{
	color: #1a1a1a;
	font-size: 13px;

}