
.checkout-logo{
	text-align: center;
	margin-top: 50px;
	line-height: 30px;
}
.checkout-logo .checkout-header{
	padding-top: 25px;
}
.checkout-logo .demo-app-header{
	font-size: 12px;
	color: #737373;
}
.checkout-product-section{
	display: flex;
	justify-content: center;
	/*line-height: 6px;*/
}
.checkout-product-section .accout-info{
	flex-basis: 40%;
}
.checkout-product-section .payment-info{
	flex-basis:40%;
}
.div-box{
	width: 80%;
}
.selling-product-info h4{
	margin-top: 40px;
	font-size: 15px;
}
.checkout-product-section .accout-info input[type="text"], .payment-info input[type="text"]{
	border-bottom: 1px solid #a6a6a6;
	background-color: transparent;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	width: 100%;
	height: 60px;
	font-size: 18px;
	outline: none;
	margin: 10px 0;
}
.selling-product-info .divide-between{
	display: flex;
	justify-content: space-between;
}
.selling-product-info .divide-between input{
	flex-basis: 48%;
}
.country-options{
	padding: 10px 0;
}
.country-options label{
	font-size: 15px;
	padding: 10px 0;
}
.country-options select{
	width: 100%;
	background-color: transparent;
	font-size: 19px;
	border: 0;
	border-bottom: 1px solid #a6a6a6;
	outline: none;
	padding: 10px 0;
}
.checkbox-division{
	display: flex;
	margin: 20px 0;
	/*justify-content: flex-start;*/
}

.checkbox-division p{
	padding-left: 20px;
}
.price-tags{
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}
.price-tags p{
	margin: 10px 0;
	font-size: 14px;
}
.selling-product-info .card-details{
	display: flex;
	justify-content: space-between;
}
.selling-product-info .card-details select{
	border-bottom: 1px solid #a6a6a6;
	background-color: transparent;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	width: 100%;
	height: 60px;
	font-size: 16px;
	outline: none;
	margin-top: 11px; 
	/*padding-left: 70px;*/
}
.card-details .card-no{
	flex-basis: 30%;
}
/*
.checkboxFive{
	position: relative;
	margin: 30px;
}
.checkboxFive label{
	position: absolute;
	width: 25px;
	height: 25px;
	border: 1px solid black;
	cursor: pointer;
	top: 0;
	left: 0
}
.checkboxFive label:after{
	position: absolute;
	content: '';
	width: 9px;
	height: 5px;
	top: 6px;
	left: 6px;
	background: transparent;
	border: 3px solid red;
}
*/
/*
.checkboxFive {
    width: 25px;
    margin: 20px 100px;
    position: relative;
}
.checkboxFive label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #eee;
    border:1px solid #ddd;
}
.checkboxFive label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 7px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
}
.checkboxFive label:hover::after {
    opacity: 0.5;
}
.checkboxFive input[type=checkbox]:checked + label:after {
    opacity: 1;
}*/